<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:mc="http://typo3.org/ns/Sup7even/Mailchimp/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="General"/>

<f:section name="content">
    <f:form object="{form}" action="response" name="form" id="mailchimp-form" class="form-horizontal"
            data="{url:'{f:render(section:\'formUrl\') -> f:spaceless() -> f:format.htmlentitiesDecode()}'}">
        <f:form.validationResults>
            <f:if condition="{validationResults.flattenedErrors}">
                <ul class="errors">
                    <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">

                        <f:for each="{errors}" as="error">
                            <li>
                                <f:translate key="error.{propertyPath}.{error.code}"
                                             default="Error in {propertyPath}: {error.code}"/>
                            </li>
                        </f:for>
                    </f:for>
                </ul>
            </f:if>
        </f:form.validationResults>
        <div class="form-group">
            <label class="col-sm-3 control-label">{f:translate(key:'field.firstName')}</label>
            <div class="col-sm-9">
                <f:form.textfield property="firstName" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{f:translate(key:'field.lastName')}</label>
            <div class="col-sm-9">
                <f:form.textfield property="lastName" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{f:translate(key:'field.email')}</label>
            <div class="col-sm-9">
                <f:form.textfield property="email" type="email" class="form-control" required="1"/>
            </div>
        </div>

        <f:if condition="{interests}">
            <f:switch expression="{interests.type}">
                <f:case value="checkboxes">
                    <f:render section="interestType-checkboxes" arguments="{_all}"/>
                </f:case>
                <f:case value="radio">
                    <f:render section="interestType-radio" arguments="{_all}"/>
                </f:case>
                <f:case value="dropdown">
                    <f:render section="interestType-dropdown" arguments="{_all}"/>
                </f:case>
                <f:case value="hidden">
                    <f:comment><!-- do nothing --></f:comment>
                </f:case>
            </f:switch>
        </f:if>

        <div class="form-group">
            <f:form.submit value="{f:translate(key:'form.submit')}" class="btn btn-default"/>
        </div>
        <mc:footerData>
            <script type="text/javascript" src="{f:uri.resource(path:'JavaScript/mailchimp.js')}"></script>
        </mc:footerData>
        <div id="mailchimp-ajax-response"></div>
    </f:form>
</f:section>

<f:section name="interestType-checkboxes">
    <div class="form-group">
        <label class="col-sm-3 control-label">{interests.title}</label>
        <div class="col-sm-9">
            <f:for each="{interests.options}" as="interest" key="id">
                <div class="checkbox">
                    <label>
                        <f:form.checkbox property="interests.{id}" value="1"/>
                        <f:translate key="interest.{interest -> mc:simplifyLabel()}"
                                     default="{interest -> f:format.htmlspecialchars()}"/>
                    </label>
                </div>
            </f:for>
        </div>
    </div>
</f:section>

<f:section name="interestType-radio">
    <div class="form-group">
        <label class="col-sm-3 control-label">{interests.title}</label>
        <div class="col-sm-9">
            <f:for each="{interests.options}" as="interest" key="id">
                <div class="checkbox">
                    <label>
                        <f:form.radio property="interest" value="{id}"/>
                        <f:translate key="interest.{interest -> mc:simplifyLabel()}"
                                     default="{interest -> f:format.htmlspecialchars()}"/>
                    </label>
                </div>
            </f:for>
        </div>
    </div>
</f:section>

<f:section name="interestType-dropdown">
    <div class="form-group">
        <label class="col-sm-3 control-label">{interests.title}</label>
        <div class="col-sm-9">
            <f:form.select class="form-control" property="interest" options="{interests.options}"
                           prependOptionLabel="" prependOptionValue=""/>
        </div>
    </div>
</f:section>

<f:section name="formUrl">
    <mc:ajaxEnabled isEnabled="{settings.useAjax}">
        <f:render partial="FormAjaxUrl"/>
    </mc:ajaxEnabled>
</f:section>

</html>