<f:form object="{form}" action="response" name="form" class="form-horizontal">

    <div class="form-group">
        <label>
            <f:form.textfield property="firstName" class="form-control"/>
            {f:translate(key:'field.firstName')}
        </label>
    </div>

    <div class="form-group">
        <label>
            <f:form.textfield property="lastName" class="form-control"/>
            {f:translate(key:'field.lastName')}
        </label>
    </div>

    <div class="form-group">
        <label>
            <f:form.textfield property="email" type="email" required="1" class="form-control"/>
            {f:translate(key:'field.email')}
        </label>
    </div>

    <f:if condition="{interests}">

        <div class="form-group">
            <label>{f:translate(key:'field.interests')}</label>
            <f:for each="{interests}" as="interest" key="id">
                <div class="checkbox">
                    <label>
                        <f:form.checkbox property="interests.{id}" value="1"/>
                        {interest}
                    </label>
                </div>
            </f:for>
        </div>
    </f:if>

    <div class="form-group">
        <f:form.submit value="{f:translate(key:'form.submit')}" class="btn btn-default"/>
    </div>

</f:form>