{namespace mc=Sup7\Mailchimp\ViewHelpers}

<f:form object="{form}" action="response" name="form" class="form-horizontal">
    <f:form.validationResults>
        <f:if condition="{validationResults.flattenedErrors}">
            <ul class="errors">
                <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">

                    <f:for each="{errors}" as="error">
                        <li>
                            <f:translate key="error.{propertyPath}.{error.code}"
                                         default="Error in {propertyPath}: {error.code}"/>
                        </li>
                    </f:for>

                </f:for>
            </ul>
        </f:if>
    </f:form.validationResults>
    <div class="form-group">
        <label>
            <f:form.textfield property="firstName" class="form-control"/>
            {f:translate(key:'field.firstName')}
        </label>
    </div>

    <div class="form-group">
        <label>
            <f:form.textfield property="lastName" class="form-control"/>
            {f:translate(key:'field.lastName')}
        </label>
    </div>

    <div class="form-group">
        <label>
            <f:form.textfield property="email" type="email" class="form-control" required="1"/>
            {f:translate(key:'field.email')}
        </label>
    </div>

    <f:if condition="{interests.options}">

        <div class="form-group">
            <label>{interests.title}</label>
            <f:for each="{interests.options}" as="interest" key="id">
                <div class="checkbox">
                    <label>
                        <f:form.checkbox property="interests.{id}" value="1"/>
                        <f:translate key="interest.{interest -> mc:simplifyLabel()}" default="{interest -> f:format.htmlspecialchars()}" />
                    </label>
                </div>
            </f:for>
        </div>
    </f:if>

    <div class="form-group">
        <f:form.submit value="{f:translate(key:'form.submit')}" class="btn btn-default"/>
    </div>

</f:form>